.form-horizontal{
    max-width: 600px;
    margin: 0 auto;
    textarea,
    input[type="email"],
    input[type="text"]{
    	width:100%;
		outline: 0;
		border: none;
		background: #fff;
		font-size: 16px;
		letter-spacing: .045em;
		font-weight: 300;
		padding:10px;
		margin-bottom:16px;
		height:auto;
		border-radius: 0!important;
		-webkit-appearance: none;
		border: 4px solid #fff;
		&:focus{
			border: 4px solid #0F9194;
			opacity:1;
			transition: .25s all;
			&::-webkit-input-placeholder{
				opacity:0;
				transition: .5s all;
			}
		}
		&::-webkit-input-placeholder{color:#83AEAF;}
		&:-moz-placeholder{color:#83AEAF;}
		&::-moz-placeholder{color:#83AEAF;}
		&:-ms-input-placeholder{
			color:#83AEAF;
			transition: .5s all;
		}

    }
    label{
    	margin-bottom:7px;
    	text-transform: uppercase;
    	display:block;
    	font-size: 20px;
    }
    .name-group{
		float: left; width: 48%;
		@include max-screen($tablet){
			width:100%;
			float:none;
		}
    }
    .email-group{
		float: right; width: 48%;
		@include max-screen($tablet){
			width:100%;
			float:none;
		}
    }
    .test-group{
    	max-width:120px;
    }
    input[type="submit"]{
		cursor: pointer;
		padding: 10px;
		font-size: 20px;
		letter-spacing: .055em;
		font-weight: 500;
		border: none;
		outline: none;
		background:$color-brand;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;
		display: block;
		height: auto !important;
		border-radius: 0 !important;
		-webkit-appearance: none;
		margin-top:20px;
		opacity:.75;
		&:hover{
			opacity:1;
		}
    }

}
.section.contact-form{
	background: #99DFE0;
	h2{
		margin-bottom: 50px;
	    font-size: 40px;
	    @include max-screen($tablet){
	    	font-size:2em;
	    }
	}
}