/* Custom page footer */
body{
  background: $color-brand;
}
.bg-container-bottom{
  position:fixed;
  z-index:0;
  width: 100%;
  height: 100%;
  top: 0;
  .image{
    background:$color-brand url(../images/corner_pattern.jpg) no-repeat top left;
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
  }
}
.section.contact-form{
  position:relative;
  background: none;
  color:#fff;
  margin-bottom:0;
  width:100%;
  text-align: center;
  padding:53px 0 30px;
  .wrapper{
    position: relative;
    z-index: 2;
  }
  h2{
    color: $black;
    padding-bottom: 12px;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size:40px;
    @include max-screen($tablet){
        font-size:2em;
      }
  }
  .email-address{
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 15px;
  }
  .line{
    display: inline-block;
    text-align: center;
    width: 3px;
    height: 37px;
    background: #000;
    margin-top: 0px;
  }
  p{
    font-size:22px;
  }
  .copyright{
    color:#fff;
    font-size:10px;
    text-align: center;
    margin:0 auto;
  
  }
  .social{
    padding: 0;
    margin: 30px 0 0;
    list-style: none;
    li{
      display:inline-block;
      line-height:1;
      margin: 0 4px;
    }
    a{
      display:inline-block;
      background: #fff;
      border-radius: 50%;
      transition: all .25s;
      &:hover{
        border-radius: 30%;

      }
    }
  }
}

@include max-screen($tablet){

  .contact-form{
    position:relative;
    .wrapper{padding-right:10px;
    padding-left:10px;}
    h2{font-size:24px;}
    a.btn-primary{
      font-size:18px;
      padding:8px 10px;
    }
  } 
  .homepage .section{
    margin-bottom:0; padding:20px 0 60px;
    .inner-container p{
      font-size:20px;
    }
    .inner-container{padding-bottom:0;}
  }
  .contact-form.section{
    padding-bottom:40px;
  }

  .section footer{text-align:center;}
  .section footer p.copyright{font-size:10px;text-align:center;}
}