/* Custom page footer */
.section footer {
  padding-top: 76px;
  color: #000;
  font-size:12px;
  padding-top:45px;
  text-align: center;
  position:relative;
  p{font-size:18px; line-height:22px; margin:0; color:#fff; text-align: left;
    span{
      font-weight:600;
      letter-spacing: 0.05em;
    }
  }
  .copyright{
    color:#fff;
    font-size:10px!important;
    text-align: center;
    margin:0 auto;
    position:absolute;
    right:0;
    bottom:0px;
  }
  .footer-links a{
    color:#000;
    font-size:14px;
    text-decoration:none;
    border:none;
    padding:0 8px 0 0;
    border-right:1px solid #000;
    margin-right:8px;
    &:hover{background:none;color:#fff;}  
  }
  ul{@include clearfix();list-style:none; margin:0; padding:3px 0 0 0;}
  li{float:left;
    &:last-child a{margin-right:0;border-right:none;}
  }
}

/* Main marketing message and sign up button */


.career-tout.section{
  position:fixed;
  bottom:0;
  z-index:0;
  background:#131313;
  color:#fff;
  margin-bottom:0;
  width:100%;
  text-align: center;
  padding:53px 0 30px;
  h2{
    color: #0F9194;
    padding-bottom: 12px;
    text-transform: uppercase;
    margin-bottom: 26px;
    font-size:28px;
  }
  p{
    font-size:22px;
  }
  a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    border: 2px solid #0F9194;
    padding: 10px 20px;
    letter-spacing: 0.05em;
    display:inline-block;
    padding: 8px 13px 10px;
    margin: 0 10px;
    &:hover
    {  
      transition: .5s all;
      background: #0F9194;
    }
  }
}

@include max-screen($tablet){

  .career-tout.section{
    position:relative;
    .wrapper{padding-right:10px;
    padding-left:10px;}
    h2{font-size:24px;}
    a.btn-primary{
      font-size:18px;
      padding:8px 10px;
    }
  } 
  .homepage .section{
    margin-bottom:0; padding:20px 0 60px;
    .inner-container p{
      font-size:20px;
    }
    .inner-container{padding-bottom:0;}
  }
  .career-tout.section{
    padding-bottom:40px;
  }

  .section footer{text-align:center;}
  .section footer .footer-links{float:none; display:inline-block;}
  .section footer p.copyright{font-size:10px;text-align:center; float:none;}
}