.logo-container{
    top: 20px;
    text-align: center;
    z-index: 1;
    transition: all .5s;

    a{
      padding: 10px 0!important;
      &:hover{
        border: none!important;
        top: 0!important;
      }
    }
    img{
      max-width: 90px;
      &:hover{
        max-width: 90px;
      }
    }
    @include max-screen($tablet){
     img{
        max-width: 50px;
        &:hover{
          max-width: 50px;
        }
      }
    }
    &.fixed-logo-top{
      top: 12px;
      @include max-screen($tablet){
        top: 9px;
        left: auto;
        right: 12px;
        transform: none;
      }
    }
}

.header {
  position: absolute;
  bottom: 0px;
  z-index: 4;
  width: 100%;
  background: $color-brand;
  margin-top: 0;
  text-align: right;
  &.fixed-top{
    position: fixed;
    top:0;
    bottom: auto;
    transition: 0.5s all;
   box-shadow: -1px -2px 3px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px -2px 3px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px -2px 3px 2px rgba(0, 0, 0, 0.3);
    .logo-container img{
      max-width: 50px;
      transition: 0.5s all;
      &:hover{
        max-width: 90px;
      }
    }
    li a:hover{
      top: 6px;
      border-bottom: 3px solid #000;
      border-top: none;
    }
  }
  li:first-child a{margin-left:0;}
  li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size:16px;
    color: #fff;
    position:relative;
    top:0;
    transition: all .25s;
    padding: 21px 0 24px;
    min-width: 98px;
    display: block;
    &:hover{
      top: -6px;
      border-top: 3px solid #000;
    }
  }
  ul{
    list-style:none;
    font-size: 20px;
    position: relative;
    z-index:1;
    padding-left:0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;

  }
  li{
    vertical-align: middle;
    display:inline-block; 
    color:#ccc;
    text-align: center;
  }
  .social{
    margin: 0;
    padding-top: 4px;
    padding-bottom: 0px;
    li{
      &:last-child{
        margin-left:-5px;
      }
    }
    li a{
      margin: 0;
      display: block;
      opacity: 0.75;
      position: relative;
      top: 0;
      transition: all .25s;
      padding: 0;
      &:hover{
        opacity: 1;
        top: 5px;
        border: none;
      }
    }

    img{
      display:block;
      width: 40px;
      height: 40px;
    }
  }
}
@include max-screen($tablet){
    .header {
    // li a{display:none;}
    ul{float:none; padding:0; display:inline-block;}
    li a{margin-left:8px; min-width: 0;}
    .logo-container{
      &:hover{

      }
    }
    text-align:center;
    padding-bottom:0px;
    .logo{float:none; padding:15px 0 0; display:inline-block;}
    .wrapper{padding:0;}
  }
}