.logo-container{
    position: absolute;
    top: -38px;
    text-align: center;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    transition: all .5s;
    @include max-screen($tablet){
        top: -69px;
      }
    &.fixed-logo-top{
      top: 12px;
      @include max-screen($tablet){
        top: 9px;
        left: auto;
        right: 12px;
        transform: none;
        .k{
            font-size: 38px;
            line-height: 28px;
        }
        .d{
            font-size: 38px;
            line-height: 7px;
        }
      }
    }
}

.k{
  font-size: 70px;
  line-height: 36px;
  font-weight: 500;
  display:block;
  -webkit-transform: rotate(90deg); 
  -ms-transform: rotate(90deg);  
  transform: rotate(90deg); 
  color: #000;
}
.d{
  padding-top: 4px;
  font-size: 70px;
  line-height: 30px;
  font-weight: 500;
  display: block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #000;

}
.header {
  position: absolute;
  z-index: 4;
  width: 100%;
  background: #fff;
  margin-top: 0;
  text-align: center;
    -webkit-box-shadow: -1px -2px 3px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px -2px 3px -2px rgba(0, 0, 0, 0.3);
  box-shadow: -1px -2px 3px -2px rgba(0, 0, 0, 0.3);
  &.fixed-top{
    position:fixed;
    top:0;
    box-shadow: -1px -2px 3px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px -2px 3px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px -2px 3px 2px rgba(0, 0, 0, 0.3);
    transition: 0.5s all;
    li a:hover{
      top: 6px;
      border-bottom: 4px solid #000;
      border-top: none;
    }
  }
  .wrapper{
    background:#fff;
  }
  li:first-child a{margin-left:0;}
  li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 25px;
    font-size:16px;
    color: #3F3F3F;
    position:relative;
    top:0;
    transition: all .25s;
    padding: 10px 0;
    &:hover{
      top: -6px;
      border-top: 4px solid #000;
    }
  }
  ul{
    list-style:none;
    font-size: 20px;
    position: relative;
    z-index:1;
    padding-left:0;
    padding-top: 12px;
    padding-bottom: 14px;
    margin: 0;

  }
  li{display:inline-block; color:#ccc;}

  .social{
    margin: 0;
    padding-top: 4px;
    padding-bottom: 0px;
    li{
      &:last-child{
        margin-left:-5px;
      }
    }
    li a{
      margin: 0;
      display: block;
      opacity: 0.75;
      position: relative;
      top: 0;
      transition: all .25s;
      padding: 0;
      &:hover{
        opacity: 1;
        top: 5px;
        border: none;
      }
    }

    img{
      display:block;
      width: 40px;
      height: 40px;
    }
  }
}
@include max-screen($tablet){
    .header {
    // li a{display:none;}
    ul{float:none; padding:0; display:inline-block;}
    li a{margin-left:8px;}
    text-align:center;
    padding-bottom:0px;
    .logo{float:none; padding:15px 0 0; display:inline-block;}
    .wrapper{padding:0;}
  }
}