html {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:300;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body, html {
  height: 100%;
}

.bg-container {
  height: 100%;
  width:100%;
  position:fixed;
  z-index:1;
  background:#fff;
  .inner-container{
    background:#0F9194;
    background-size:cover;
    opacity:0.65;
    height:100%;
  }
}
.homepage .section{margin-bottom:300px;}
.section{
  position:relative;
  z-index:3;
  background:#fff;
  padding:60px 0 100px 0;
  p{
  font-size: 20px;
  line-height: 34px;
  max-width: 550px;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin:0 auto;
  }
  h2{
    color: #0F9194;
    padding-bottom: 2px;
    font-size: 30px;
    text-align: center;
    letter-spacing: .025em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
  }
  .inner-container{padding-bottom:40px;}
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.wrapper{
  max-width:1000px;
  margin:0 auto;
  padding:0 20px;
}

/* Custom page header */
.header {
  position:fixed;
  z-index:4;
  width:100%;
  top:0;
  text-align:center;
    background: rgba(255, 255, 255, 1);
    img{padding-top:20px; padding-bottom:20px;}
    li:first-child a{margin-left:0;}
  li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 20px;
    font-size:15px;
    color: #3F3F3F;
    letter-spacing: .15em;
    &:hover{color:#249FC9;}
  }
  ul{list-style:none;padding-top:12px;}
  li{display:inline-block; color:#ccc;}

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
  .logo{
    padding:12px 0;
    max-width:216px;
    display:block;
    img{max-width:100%;}
  }
}

/* Custom page footer */
.section footer {
  padding-top: 76px;
  color: #000;
  font-size:12px;
  p{font-size:12px; margin:0; padding:0 0 12px;}
  .footer-links a{
    color:#000;
    font-size:14px;
    text-decoration:none;
    border:none;
    padding:0 8px 0 0;
    border-right:1px solid #000;
    margin-right:8px;
    &:hover{background:none;color:#fff;}  
  }
  ul{@include clearfix();list-style:none; margin:0; padding:3px 0 0 0;}
  li{float:left;
    &:last-child a{margin-right:0;border-right:none;}
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  padding-top:50px;
  height:100%;
  position: relative;
  z-index: 2;
  min-height:300px!important;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
  h1.lead{
    color: #fff;
    font-size: 146px;
    line-height:1;
    font-weight:400;
    padding-top:200px;
    margin: 0 auto;
    position:relative;
    letter-spacing: .025em;
    font-family: 'Montserrat', sans-serif;
    span{font-weight:500;color:#000;}
  }
  .tagline{
    font-family: 'Noto Serif', serif;
    font-size:40px; 
    color:#fff;
    margin-top:20px;
    margin-bottom:30px;
  }
  span.contact-container{
    font-size:24px;
  }
  span.contact-container a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    padding: 3px;
    vertical-align: middle;
  }
}

.career-tout.section{
  position:fixed;
  bottom:0;
  z-index:0;
  background:#131313;
  color:#fff;
  margin-bottom:0;
  width:100%;
  text-align: center;
  padding:53px 0 0;
  h2{
    color: #0F9194;
    padding-bottom: 12px;
    text-transform: uppercase;
    margin-bottom: 33px;
    font-size:28px;
  }
  a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    border: 2px solid #0F9194;
    padding: 10px 20px;
    &:hover
    {  
      transition: .5s all;
      background: #0F9194;
    }
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}
 @media screen and (max-width: 768px) {
  /* Space out the masthead */
  body{height:auto;}
  .bg-container{display:none;}
  .header {
    // li a{display:none;}
    ul{float:none; padding:0; display:inline-block;}
    li a{margin-left:8px;}
    text-align:center;
    padding-bottom:0px;
    .logo{float:none; padding:15px 0 0; display:inline-block;}
    .wrapper{padding:0;}
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    background: url(../images/home_tout.jpg) no-repeat center top; background-size:cover;
    h1.lead{font-size:27px; padding-top:70px; line-height:32px;}
  }
  .career-tout.section{
    position:relative;
    .wrapper{padding-right:10px;
    padding-left:10px;}
    h2{font-size:24px;}
    a.btn-primary{
      font-size:18px;
      padding:8px 10px;
    }
  } 
  .homepage .section{
    margin-bottom:0; padding:20px 0 20px;
    .inner-container p{
      font-size:20px;
    }
    .inner-container{padding-bottom:0;}
  }

  .section footer{text-align:center;}
  .section footer .footer-links{float:none; display:inline-block;}
  .section footer p.copyright{font-size:10px;text-align:center; float:none;}
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
