/* Retina Images */
.fc:before, .fc:after {
  content: " ";
  display: table; }
.fc:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.fr {
  float: right; }

.fl {
  float: left; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.form-horizontal {
  max-width: 600px;
  margin: 0 auto; }
  .form-horizontal textarea,
  .form-horizontal input[type="email"],
  .form-horizontal input[type="text"] {
    width: 100%;
    outline: 0;
    border: none;
    background: #fff;
    font-size: 16px;
    letter-spacing: .045em;
    font-weight: 300;
    padding: 10px;
    margin-bottom: 16px;
    height: auto;
    border-radius: 0 !important;
    -webkit-appearance: none;
    border: 4px solid #fff; }
    .form-horizontal textarea:focus,
    .form-horizontal input[type="email"]:focus,
    .form-horizontal input[type="text"]:focus {
      border: 4px solid #000;
      opacity: 1;
      transition: .2s all; }
      .form-horizontal textarea:focus::-webkit-input-placeholder,
      .form-horizontal input[type="email"]:focus::-webkit-input-placeholder,
      .form-horizontal input[type="text"]:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: .25s all; }
    .form-horizontal textarea::-webkit-input-placeholder,
    .form-horizontal input[type="email"]::-webkit-input-placeholder,
    .form-horizontal input[type="text"]::-webkit-input-placeholder {
      color: #83AEAF; }
    .form-horizontal textarea:-moz-placeholder,
    .form-horizontal input[type="email"]:-moz-placeholder,
    .form-horizontal input[type="text"]:-moz-placeholder {
      color: #83AEAF; }
    .form-horizontal textarea::-moz-placeholder,
    .form-horizontal input[type="email"]::-moz-placeholder,
    .form-horizontal input[type="text"]::-moz-placeholder {
      color: #83AEAF; }
    .form-horizontal textarea:-ms-input-placeholder,
    .form-horizontal input[type="email"]:-ms-input-placeholder,
    .form-horizontal input[type="text"]:-ms-input-placeholder {
      color: #83AEAF;
      transition: .25s all; }
  .form-horizontal label {
    margin-bottom: 7px;
    text-transform: uppercase;
    display: block;
    font-size: 20px; }
  .form-horizontal .name-group {
    float: left;
    width: 48%; }
    @media screen and (max-width: 900px) {
      .form-horizontal .name-group {
        width: 100%;
        float: none; } }
  .form-horizontal .email-group {
    float: right;
    width: 48%; }
    @media screen and (max-width: 900px) {
      .form-horizontal .email-group {
        width: 100%;
        float: none; } }
  .form-horizontal .test-group {
    max-width: 54px; }
    .form-horizontal .test-group input {
      text-align: center; }
  .form-horizontal input[type="submit"] {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    letter-spacing: .055em;
    font-weight: 500;
    border: none;
    outline: none;
    background: none;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    display: block;
    height: auto !important;
    border-radius: 0 !important;
    -webkit-appearance: none;
    margin-top: 20px;
    border: 4px solid #fff; }
    .form-horizontal input[type="submit"]:hover {
      background: #fff;
      color: black; }
  .form-horizontal .clr:before, .form-horizontal .clr:after {
    content: " ";
    display: table; }
  .form-horizontal .clr:after {
    clear: both; }
  .form-horizontal p.text-danger {
    text-align: left;
    font-style: italic;
    color: #DC0000;
    font-size: 15px;
    position: absolute;
    bottom: -10px;
    right: 0; }
  .form-horizontal .form-group {
    position: relative; }
  .form-horizontal .alert-success {
    position: fixed;
    bottom: 0;
    background: #31A4A7;
    width: 100%;
    left: 0;
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size: 40px;
    padding: 10px; }

.section.contact-form {
  background: #0f9194; }
  .section.contact-form h2 {
    margin-bottom: 50px;
    font-size: 40px;
    color: #fff; }
    @media screen and (max-width: 900px) {
      .section.contact-form h2 {
        font-size: 2em; } }

html {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body, html {
  height: 100%; }

.bg-container {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background: #fff; }
  .bg-container .inner-container {
    background: #0F9194;
    background-size: cover;
    opacity: 0.75;
    height: 100%; }

.homepage {
  padding-bottom: 300px; }
  @media screen and (max-width: 900px) {
    .homepage {
      padding-bottom: 0; } }

.section {
  position: relative;
  z-index: 3;
  background: #fff;
  padding: 60px 0 100px 0; }
  .section p {
    font-size: 20px;
    line-height: 34px;
    max-width: 550px;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin: 0 auto; }
    @media screen and (max-width: 900px) {
      .section p {
        font-size: 18px;
        line-height: 31px; } }
  .section h2 {
    color: #0F9194;
    padding-bottom: 2px;
    font-size: 30px;
    text-align: center;
    letter-spacing: .025em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400; }
  .section .inner-container {
    padding-bottom: 40px; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px; }

/* Custom page header */
@media screen and (max-width: 768px) {
  /* Space out the masthead */
  body {
    height: auto; } }
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0; }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }
.logo-container {
  position: absolute;
  top: -38px;
  text-align: center;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  transition: all .5s; }
  @media screen and (max-width: 900px) {
    .logo-container {
      top: -69px; } }
  .logo-container.fixed-logo-top {
    top: 12px; }
    @media screen and (max-width: 900px) {
      .logo-container.fixed-logo-top {
        top: 9px;
        left: auto;
        right: 12px;
        transform: none; }
        .logo-container.fixed-logo-top .k {
          font-size: 38px;
          line-height: 28px; }
        .logo-container.fixed-logo-top .d {
          font-size: 38px;
          line-height: 7px; } }

.k {
  font-size: 70px;
  line-height: 36px;
  font-weight: 500;
  display: block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #000; }

.d {
  padding-top: 4px;
  font-size: 70px;
  line-height: 30px;
  font-weight: 500;
  display: block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #000; }

.header {
  position: absolute;
  z-index: 4;
  width: 100%;
  background: #fff;
  margin-top: 0;
  text-align: center;
  -webkit-box-shadow: -1px -2px 3px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px -2px 3px -2px rgba(0, 0, 0, 0.3);
  box-shadow: -1px -2px 3px -2px rgba(0, 0, 0, 0.3); }
  .header.fixed-top {
    position: fixed;
    top: 0;
    box-shadow: -1px -2px 3px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px -2px 3px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px -2px 3px 2px rgba(0, 0, 0, 0.3);
    transition: 0.5s all; }
    .header.fixed-top li a:hover {
      top: 6px;
      border-bottom: 4px solid #000;
      border-top: none; }
  .header .wrapper {
    background: #fff; }
  .header li:first-child a {
    margin-left: 0; }
  .header li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 25px;
    font-size: 16px;
    color: #3F3F3F;
    position: relative;
    top: 0;
    transition: all .25s;
    padding: 10px 0; }
    .header li a:hover {
      top: -6px;
      border-top: 4px solid #000; }
  .header ul {
    list-style: none;
    font-size: 20px;
    position: relative;
    z-index: 1;
    padding-left: 0;
    padding-top: 12px;
    padding-bottom: 14px;
    margin: 0; }
  .header li {
    display: inline-block;
    color: #ccc; }
  .header .social {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 0px; }
    .header .social li:last-child {
      margin-left: -5px; }
    .header .social li a {
      margin: 0;
      display: block;
      opacity: 0.75;
      position: relative;
      top: 0;
      transition: all .25s;
      padding: 0; }
      .header .social li a:hover {
        opacity: 1;
        top: 5px;
        border: none; }
    .header .social img {
      display: block;
      width: 40px;
      height: 40px; }

@media screen and (max-width: 900px) {
  .header {
    text-align: center;
    padding-bottom: 0px; }
    .header ul {
      float: none;
      padding: 0;
      display: inline-block; }
    .header li a {
      margin-left: 8px; }
    .header .logo {
      float: none;
      padding: 15px 0 0;
      display: inline-block; }
    .header .wrapper {
      padding: 0; } }
/* Custom page footer */
.section footer {
  padding-top: 76px;
  color: #000;
  font-size: 12px;
  padding-top: 45px;
  text-align: center;
  position: relative; }
  .section footer p {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    color: #fff;
    text-align: left; }
    .section footer p span {
      font-weight: 600;
      letter-spacing: 0.05em; }
  .section footer .copyright {
    color: #fff;
    font-size: 10px !important;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 0px; }
  .section footer .footer-links a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    border: none;
    padding: 0 8px 0 0;
    border-right: 1px solid #000;
    margin-right: 8px; }
    .section footer .footer-links a:hover {
      background: none;
      color: #fff; }
  .section footer ul {
    list-style: none;
    margin: 0;
    padding: 3px 0 0 0; }
    .section footer ul:before, .section footer ul:after {
      content: " ";
      display: table; }
    .section footer ul:after {
      clear: both; }
  .section footer li {
    float: left; }
    .section footer li:last-child a {
      margin-right: 0;
      border-right: none; }

/* Main marketing message and sign up button */
.career-tout.section {
  position: fixed;
  bottom: 0;
  z-index: 0;
  background: #131313;
  color: #fff;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  padding: 53px 0 30px; }
  .career-tout.section h2 {
    color: #0F9194;
    padding-bottom: 12px;
    text-transform: uppercase;
    margin-bottom: 26px;
    font-size: 28px; }
  .career-tout.section p {
    font-size: 22px; }
  .career-tout.section a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    border: 2px solid #0F9194;
    padding: 10px 20px;
    letter-spacing: 0.05em;
    display: inline-block;
    padding: 8px 13px 10px;
    margin: 0 10px; }
    .career-tout.section a:hover {
      transition: .5s all;
      background: #0F9194; }

@media screen and (max-width: 900px) {
  .career-tout.section {
    position: relative; }
    .career-tout.section .wrapper {
      padding-right: 10px;
      padding-left: 10px; }
    .career-tout.section h2 {
      font-size: 24px; }
    .career-tout.section a.btn-primary {
      font-size: 18px;
      padding: 8px 10px; }

  .homepage .section {
    margin-bottom: 0;
    padding: 20px 0 60px; }
    .homepage .section .inner-container p {
      font-size: 20px; }
    .homepage .section .inner-container {
      padding-bottom: 0; }

  .career-tout.section {
    padding-bottom: 40px; }

  .section footer {
    text-align: center; }

  .section footer .footer-links {
    float: none;
    display: inline-block; }

  .section footer p.copyright {
    font-size: 10px;
    text-align: center;
    float: none; } }
.container-box {
  position: relative;
  margin: 0 auto; }
  @media screen and (max-width: 900px) {
    .container-box {
      margin-bottom: 50px; } }
  .container-box .container-img {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    max-width: 40%;
    position: absolute;
    top: -100px;
    transition: all .25s; }
    .container-box .container-img img {
      width: 100%;
      display: block; }
    @media screen and (max-width: 900px) {
      .container-box .container-img {
        position: static;
        max-width: 100%;
        margin: 0 auto; } }
    .container-box .container-img a {
      display: block; }
    .container-box .container-img:hover {
      max-width: 50%; }
  .container-box .container-img-2 {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    max-width: 40%;
    position: absolute;
    transition: all .25s; }
    .container-box .container-img-2 img {
      width: 100%;
      display: block; }
    @media screen and (max-width: 900px) {
      .container-box .container-img-2 {
        position: static;
        max-width: 100%;
        margin: 0 auto; } }
    .container-box .container-img-2 a {
      display: block; }
    .container-box .container-img-2:hover {
      max-width: 50%; }
  .container-box .container-copy {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3); }

#work p {
  text-align: left; }
  #work p a {
    color: #404040;
    text-decoration: none;
    border-bottom: 1px solid #000;
    transition: all .15s;
    padding-bottom: 0; }
    #work p a:hover {
      color: #000;
      padding-bottom: 3px; }
#work .container-copy {
  padding: 50px 36% 50px 50px; }
  @media screen and (max-width: 900px) {
    #work .container-copy {
      padding: 25px 25px 35px 25px; } }

.type-1 {
  max-width: 820px;
  width: 90%; }
  @media screen and (max-width: 900px) {
    .type-1 {
      width: 100%; } }
  .type-1 h2 {
    position: absolute;
    right: 0;
    top: -61px;
    margin: 0; }
    @media screen and (max-width: 900px) {
      .type-1 h2 {
        position: static;
        text-align: center;
        margin-bottom: -15px; } }
  .type-1 .container-img {
    left: -50px;
    border: white 5px solid; }
  .type-1 .container-copy {
    background: #0f9194;
    color: white;
    padding: 42px 30px 158px 38%; }
    @media screen and (max-width: 900px) {
      .type-1 .container-copy {
        padding: 25px 25px 35px 25px; } }

.where.type-2 h2 {
  left: 105px; }
.where.type-2 .container-img {
  right: -80px;
  top: -60px;
  padding: 10px;
  background: #fff; }

.how.type-1 {
  width: 62%; }
  .how.type-1 h2 {
    right: 215px; }
  .how.type-1 .container-copy {
    background: #0f9194;
    color: #FFF;
    padding: 60px 44px 60px 44px; }
  @media screen and (max-width: 900px) {
    .how.type-1 {
      width: 100%; } }

.type-2 {
  max-width: 900px;
  width: 90%; }
  @media screen and (max-width: 900px) {
    .type-2 {
      width: 100%; } }
  .type-2 h2 {
    position: absolute;
    color: #fff;
    left: 32px;
    top: -56px;
    margin: 0; }
    @media screen and (max-width: 900px) {
      .type-2 h2 {
        position: static;
        text-align: center;
        color: #0f9194;
        margin-bottom: -15px; } }
  .type-2 .container-img {
    right: -113px;
    border: #FFF 5px solid;
    max-height: 600px;
    overflow: hidden;
    max-width: 48%;
    top: -14px; }
    @media screen and (max-width: 900px) {
      .type-2 .container-img {
        max-width: 100%; } }
  .type-2 .container-img-2 {
    right: -140px;
    border: #FFF 5px solid;
    max-height: 600px;
    overflow: hidden;
    top: 232px;
    max-width: 48%; }
    @media screen and (max-width: 900px) {
      .type-2 .container-img-2 {
        max-width: 100%; } }
  .type-2 .container-copy {
    background: white;
    color: #0f9194;
    border: 5px solid #0f9194;
    padding: 50px 40% 65px 50px; }
    @media screen and (max-width: 900px) {
      .type-2 .container-copy {
        padding: 25px 25px 30px 25px; } }

.type-3 {
  max-width: 900px;
  width: 70%; }
  @media screen and (max-width: 900px) {
    .type-3 {
      width: 100%; } }
  .type-3 h2 {
    position: absolute;
    right: 0;
    top: -61px;
    margin: 0; }
    @media screen and (max-width: 900px) {
      .type-3 h2 {
        position: static;
        text-align: center;
        margin-bottom: -15px; } }
  .type-3 p {
    max-width: 100%;
    text-align: left; }
  .type-3 .container-copy {
    background: #0f9194;
    color: white;
    padding: 42px 25px 82px 25px; }
    @media screen and (max-width: 900px) {
      .type-3 .container-copy {
        padding: 25px 25px 35px 25px; } }

#section-about {
  padding-top: 300px;
  overflow: hidden; }
  @media screen and (max-width: 900px) {
    #section-about {
      padding-top: 54px; } }
  #section-about h2 {
    font-size: 62px;
    letter-spacing: -0.075em; }

.lead {
  overflow: hidden; }

.lead span {
  transition: all .75s;
  position: relative; }
  .lead span:first-of-type {
    left: 0%;
    color: #fff; }
  .lead span:last-of-type {
    right: 0%; }
  .lead span.left-scroll {
    left: 100%; }
  .lead span.right-scroll {
    right: 100%; }

.jumbotron {
  text-align: center;
  padding-top: 50px;
  height: 100%;
  position: relative;
  z-index: 2;
  min-height: 580px; }
  @media screen and (max-width: 900px) {
    .jumbotron {
      border-bottom: 0;
      min-height: 300px; } }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px; }
  .jumbotron h1.lead {
    color: #fff;
    font-size: 146px;
    line-height: 1;
    font-weight: 400;
    padding-top: 15%;
    margin: 0 auto;
    position: relative;
    letter-spacing: .025em;
    font-family: 'Montserrat', sans-serif; }
    @media screen and (max-width: 900px) {
      .jumbotron h1.lead {
        font-size: 48px;
        padding-top: 170px;
        line-height: 44px; } }
    .jumbotron h1.lead span:last-of-type {
      font-weight: 500;
      color: #000; }
  .jumbotron .tagline {
    font-family: 'Noto Serif', serif;
    font-size: 40px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px; }
    @media screen and (max-width: 900px) {
      .jumbotron .tagline {
        font-size: 22px; } }
  .jumbotron span.contact-container {
    font-size: 24px; }
  .jumbotron span.contact-container a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    padding: 3px;
    vertical-align: middle; }
